{% load static %}
<div class="border-right border-warning h-100">
   <div class="text-center">
    <img src="{% static 'core/images/a.jpg' %}" alt="profilepic" class="img-fluid rounded-circle mt-5" width="100px" height="100px">
   </div>
   <h3 class="text-white text-center mt-3 st-font">John</h3>
   <hr class=" border-light">
       <nav class="nav flex-column text-center">
     <a href="{% url 'home' %}" class="nav-link {{home}} text-white">Home</a>
     <a href="{% url 'services' %}" class="nav-link {{services}} text-white">Services</a>
     <a href="{% url 'skill' %}" class="nav-link {{skill}} text-white">Skill</a>
     <a href="{% url 'contact' %}" class="nav-link {{contact}} text-white">Contact</a>
   </nav>
  </div>